/* You can add global styles to this file, and also import other style files */
//@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  margin: 0 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.width100 {
  width: 100%;
}
.width50 {
  width: 50%;
}
.width30 {
  width: 30%;
}

.grid-container {
  margin: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-row,
.toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
.toolbar-row,
.toolbar-single-row {
  height: 64px;
}
.toolbar {
  color: rgba(0, 0, 0, 0.87);
}
.toolbar,
.toolbar h1,
toolbar h2,
.toolbar h3,
.toolbar h4,
.toolbar h5,
.toolbar h6 {
  margin: 0;
}
