<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar><span class="logo">hatber</span></mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="/overview"
        >Обзор</a
      >
      <a mat-list-item [routerLinkActive]="['active']" routerLink="/overview1"
        >Заказы</a
      >

      <a mat-list-item [routerLinkActive]="['active']" routerLink="/performers"
        >Сотрудники</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="isHandset$ | async">hatber</span>
      <h2 class="mat-h1">servbit</h2>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon [matMenuTriggerFor]="menu" aria-label="Logout"
          >logout</mat-icon
        >
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="logout()" mat-menu-item>Выйти из системы</button>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
