<div class="container">
  <div class="page-header toolbar toolbar-row toolbar-single-row">
    <h1>Категории</h1>
    <div class="spacer"></div>
    <button
      mat-raised-button
      color="accent"
      aria-label="Добавить категорию"
      routerLink="/categories/new"
    >
      <mat-icon>add</mat-icon>
      Добавить
    </button>
  </div>
  <mat-card>
    <mat-card-content *ngIf="!isLoading; else loader">
      <mat-action-list>
        <mat-list-item
          *ngFor="let category of categories"
          [routerLink]="['/categories', category._id]"
        >
          {{ category.name }}
        </mat-list-item>
      </mat-action-list>
      <div
        class="center text-center"
        *ngIf="categories.length < 1 && !isLoading"
      >
        <span>Нет записей. </span
        ><button mat-button color="primary" [routerLink]="'/categories/new'">
          Добавить категорию
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<ng-template #loader><app-loader></app-loader></ng-template>
