<div class="toolbar toolbar-row toolbar-single-row">
  <h1>Позиции</h1>
  <div class="spacer"></div>
  <button
    mat-raised-button
    color="accent"
    aria-label="Добавить позицию"
    (click)="openForm()"
  >
    <mat-icon>add</mat-icon>
    Добавить позицию
  </button>
</div>
<table mat-table [dataSource]="positions" class="mat-elevation-z1" width="100%">
  <!-- Idx Column -->
  <ng-container matColumnDef="Idx">
    <th mat-header-cell *matHeaderCellDef>No</th>
    <td mat-cell *matCellDef="let element; index as i">{{ i + 1 }}</td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>
  <!-- Cost Column -->
  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef>Cost</th>
    <td mat-cell *matCellDef="let element">{{ element.cost }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element" width="10%">
      <button
        mat-icon-button
        style="color: gray"
        (click)="openForUpdate(element)"
      >
        <mat-icon>open_in_new</mat-icon>
      </button>

      <button
        mat-icon-button
        style="color: gray"
        (click)="remove($event, element)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
