<div class="container">
  <h2><a routerLink="/performers">Сотрудники</a></h2>
  <form [formGroup]="performerForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ isNew ? 'Новый сотрудник' : 'Сотрудник' }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="!isLoading; else loading">
        <div class="row">
          <div class="col">
            <mat-form-field class="width50">
              <mat-label>Имя сотрудника</mat-label>
              <input formControlName="name" matInput type="text" />
              <mat-error
                *ngIf="
                  performerForm.get('name').invalid &&
                  performerForm.get('name').touched
                "
              >
                <span *ngIf="performerForm.get('name').errors['required']"
                  >Имя не должно быть пустым</span
                >
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="performerForm.invalid || performerForm.disabled"
        >
          Сохранить
        </button>
        <button
          mat-raised-button
          color="warn"
          type="button"
          [disabled]="performerForm.invalid || performerForm.disabled"
          *ngIf="!isNew"
          (click)="delete()"
        >
          Удалить
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  <ng-template #loading><app-loader></app-loader></ng-template>
</div>
